.card {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin: 10px;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}

.card:hover {
  border-bottom: 1px solid transparent;
  background-color: rgba(0, 0, 0, 0.05);
}

.card > h2 {
  line-height: 15px;
}